---
import Heading from './Heading.astro';
import LinkButton from '../../../components/LinkButton.astro';
import { WorkCard } from '../../../features/work/components/WorkCard/WorkCard';

import { root, worksList, work, linkButton } from './WorkSection.css';

import { getCollection } from 'astro:content';
import { collectionToWork } from '../../../context/work/collection';
import { processImageForWorkCard } from '../../../features/work/components/WorkCard/image';

const workCardProps = await Promise.all(
	(await getCollection('works'))
		.map((work) => collectionToWork(work))
		.filter((work) => work.pickUp)
		.map((work) => processImageForWorkCard(work)),
);
---

<section class={root}>
	<Heading>works</Heading>
	<ul class={worksList}>
		{
			workCardProps.map((workCardProps) => (
				<li class={work}>
					<WorkCard key={workCardProps.work.id} {...workCardProps} />
				</li>
			))
		}
	</ul>
	<LinkButton class={linkButton} href="/works">see all</LinkButton>
</section>
