---
import Heading from './Heading.astro';
import LinkButton from '../../../components/LinkButton.astro';
import { WorkCard } from '../../../features/work/components/WorkCard.tsx';

import { root, worksList, work, linkButton } from './WorkSection.css';

import { getCollection } from 'astro:content';
import { collectionToWork } from '../../../context/work/collection';

const works = await Promise.all(
	(await getCollection('works')).filter((work) => work.data.properties.pickUp).map((work) => collectionToWork(work)),
);
---

<section class={root}>
	<Heading>works</Heading>
	<ul class={worksList}>
		{
			works.map((workData) => (
				<li class={work}>
					<WorkCard key={workData.id} work={workData} />
				</li>
			))
		}
	</ul>
	<LinkButton class={linkButton} href="/works">see all</LinkButton>
</section>
