---
import type { GetStaticPaths, GetStaticPathsItem } from 'astro';
import CommonLayout from '../../layout/CommonLayout.astro';
import PageTitle from '../../components/PageTitle.astro';
import PageLayout from '../../layout/PageLayout.astro';
import WorkCard from '../../features/work/components/WorkCard.astro';
import Filter from './_components/Filter.astro';

import LeftArrow from '../../assets/left-arrow.svg';

import { workCategory, workContext, type WorkCategory, type WorkContext } from '../../features/work/type';
import { generateSampleWork } from '../../features/work/sample';

import { page, filters, worksList, backLink } from './works.css';

interface Props {
	category: WorkCategory;
	context: WorkContext;
}

export const getStaticPaths = (() => {
	/* /works/(category)/(context) */
	const possiblePaths = workCategory.flatMap((category) =>
		workContext.map(
			(context) =>
				({
					params: { filter: `${category}/${context}` },
					props: { category, context },
				}) satisfies GetStaticPathsItem,
		),
	);

	/* /works/(category) */
	const categoryOnly = workCategory.map(
		(category) =>
			({
				params: { filter: category },
				props: { category, context: 'all' },
			}) satisfies GetStaticPathsItem,
	);

	return [
		/* /works */
		{ params: { filter: undefined }, props: { category: 'all', context: 'all' } },
		...categoryOnly,
		...possiblePaths,
	];
}) satisfies GetStaticPaths;

const { category, context } = Astro.props;
---

<CommonLayout>
	<PageTitle title="works" />
	<PageLayout smallerTopPadding>
		<div class={page}>
			<div class={filters}>
				<Filter
					aria-label="内容"
					candidates={workCategory.map((newCategory) => ({
						tag: newCategory,
						pathname: `/works/${newCategory}/${context}`,
					}))}
					currentTag={category}
				/>
				<Filter
					aria-label="創作の形態"
					candidates={workContext.map((newContext) => ({
						tag: newContext,
						pathname: `/works/${category}/${newContext}`,
					}))}
					currentTag={context}
				/>
			</div>
			<ul class={worksList}>
				{
					Array.from({ length: 25 }).map((_, i) => (
						<li>
							<WorkCard work={generateSampleWork(i)} />
						</li>
					))
				}
			</ul>
			<a href="/" class={backLink}>
				<img src={LeftArrow.src} width={LeftArrow.width} height={LeftArrow.height} alt="" aria-hidden />
				back
			</a>
		</div>
	</PageLayout>
</CommonLayout>
