---
import { Image } from 'astro:assets';

import KeyVisualImage from '../../assets/KV_sRGB.png';

import { root, main, image, background, phrase } from './KeyVisual.css';
---

<div class={root}>
	<div class={main}>
		<Image class={image} src={KeyVisualImage} alt="" layout="constrained" />
		<div class={phrase}>
			<img src="/ljus.svg" alt="ljus" width={121} height={120} />
			<img
				src="/kv-phrase.svg"
				alt="Ditt liv är ljus. - Dear insages praying for the area out of capitalism. "
				width={410}
				height={68}
			/>
		</div>
	</div>
	<Image class={background} src={KeyVisualImage} alt="" layout="fixed" width={32} height={24} />
</div>
