---
import { Image } from 'astro:assets';
import { format } from 'date-fns';

import type { Work } from '../../../context/work/types';

import { workTypeColorsCSS } from '../../../context/work/styles';

import {
	root,
	visualImage,
	visualImageBackground,
	visualImageContainer,
	logoLeft,
	logoInline,
	workInfo,
	workInfoSection,
	descriptionText,
	tagsList,
	tagsLink,
	dateText,
	assigningText,
} from './WorkCard.css';

interface Props {
	work: Work;
}

const {
	work: { visualImageUrl, logoUrl, description, logoAlt, date, context, types, assigning, logoPosition },
} = Astro.props;
---

<article class={root}>
	<div class={visualImageContainer}>
		{/* TODO: alt 確認する */}
		<Image class={visualImage} src={visualImageUrl} alt={''} width={227} height={320} />
		<Image class={visualImageBackground} src={visualImageUrl} alt={''} width={23} height={32} />
	</div>
	{
		logoPosition === 'left' && (
			<Image class={logoLeft} src={logoUrl} alt={logoAlt} widths={[160, 320, 640]} sizes="160px" inferSize />
		)
	}
	<div class={workInfo}>
		<div class={workInfoSection}>
			<h2 class={descriptionText}>{description}</h2>
			{
				logoPosition === 'inline' && (
					<Image class={logoInline} src={logoUrl} alt={logoAlt} inferSize layout="constrained" />
				)
			}
		</div>
		<div class={workInfoSection}>
			<nav class={tagsList}>
				{
					types.map((type) => (
						<a class={tagsLink} href={`/works?types=${type}`} style={{ color: workTypeColorsCSS[type] }}>
							#{type}
						</a>
					))
				}
				<a class={tagsLink} href={`/works?context=${context}`}>
					#{context}
				</a>
			</nav>
			<span class={dateText}>
				{
					date.instant && (
						<time datetime={format(date.instant, 'yyyy-MM-dd')}>{format(date.instant, 'yyyy.MM.dd')}</time>
					)
				}
				{
					date.period && (
						<>
							<time datetime={format(date.period.from, 'yyyy-MM-dd')}>{format(date.period.from, 'yyyy.MM.dd')}</time>
							{' - '}
							<time datetime={format(date.period.to, 'yyyy-MM-dd')}>
								{format(
									date.period.to,
									date.period.from.getFullYear() === date.period.to.getFullYear() ? 'MM.dd' : 'yyyy.MM.dd',
								)}
							</time>
						</>
					)
				}
			</span>
			<p class={assigningText}>{assigning}</p>
		</div>
	</div>
</article>
