---
import { copyright, footer, logos } from './Footer.css';
import { COPYRIGHT_YEAR } from '../constant';

import Ljus from '../assets/ljus.svg';
import Circle from '../assets/circle.svg';
---

<footer class={footer}>
	<div class={logos}>
		<img src={Ljus.src} alt="ljus" width={Ljus.width} height={Ljus.height} />
		<img src={Circle.src} alt="七夕の月光" width={Circle.width} height={Circle.height} />
	</div>
	<p class={copyright}>{COPYRIGHT_YEAR} raychan All Rights Reserved.</p>
</footer>
