---
import { copyright, container, linkList, link, footer, right, logos } from './Footer.css';
import { CONTACT_FORM, COPYRIGHT_YEAR } from '../constant';

export type LinkTo = { pathname: string; href?: undefined } | { pathname?: undefined; href: string };

interface FooterLink {
	caption: string;
	linkTo: LinkTo;
}
const footerLink: FooterLink[] = [
	{ caption: 'top', linkTo: { pathname: '/' } },
	{ caption: 'works', linkTo: { pathname: '/works' } },
	// { caption: "blog", link: { pathname: "/blog" }},
	// { caption: "fee table", link: { pathname: "/fee" }},
	{ caption: 'contact', linkTo: { href: CONTACT_FORM } },
];

import Ljus from '../assets/ljus.svg';
import Circle from '../assets/circle.svg';
---

<footer class={footer}>
	<div class={container}>
		<nav>
			<ul class={linkList}>
				{
					footerLink.map(({ linkTo, caption }) => (
						<li>
							<a
								class={link}
								href={linkTo.href ?? linkTo.pathname}
								target={linkTo.href === undefined ? undefined : '_blank'}
								rel={linkTo.href === undefined ? undefined : 'noreferrer noopener'}>
								{caption}
							</a>
						</li>
					))
				}
			</ul>
		</nav>
		<div class={right}>
			<div class={logos}>
				<img src={Ljus.src} alt="ljus" width={Ljus.width} height={Ljus.height} />
				<img src={Circle.src} alt="七夕の月光" width={Circle.width} height={Circle.height} />
			</div>
			<p class={copyright}>{COPYRIGHT_YEAR} raychan All Rights Reserved.</p>
		</div>
	</div>
</footer>
