---
import { Icon } from 'astro-icon/components';
import { headerLinks } from '../constant';
import type { LinkTo } from './types';

import { root, iconLink, link } from './Header.css';

const isCurrentPage = (linkTo: LinkTo): boolean => {
	if (linkTo.pathname === undefined) {
		return false;
	}

	if (linkTo.pathname === '/') {
		return Astro.url.pathname === '/';
	}

	return Astro.url.pathname.startsWith(linkTo.pathname);
};
---

<header>
	<nav>
		<ul class={root}>
			{
				headerLinks.map(({ linkTo, icon, caption }) => {
					const outgoingLink = linkTo.href != null;
					return (
						<li>
							<a
								aria-current={isCurrentPage(linkTo) ? 'page' : undefined}
								class={link}
								href={outgoingLink ? linkTo.href : linkTo.pathname}
								target={outgoingLink ? '_blank' : undefined}
								rel={outgoingLink ? 'noreferrer noopener' : undefined}>
								{icon ?
									<Icon name={icon} width={24} height={24} title={caption} class={iconLink} />
								:	caption}
							</a>
						</li>
					);
				})
			}
		</ul>
	</nav>
</header>
