---
import { Image } from 'astro:assets';
import { format } from 'date-fns';

import {
	root,
	visualImage,
	visualImageBackground,
	visualImageContainer,
	logoLeft,
	logoInline,
	workInfo,
	workInfoSection,
	descriptionText,
	tagsList,
	tagsLink,
	dateText,
	assigningText,
} from './WorkCard.css';

interface Props {
	visualImageUrl: string;
	logoUrl: string;
	description: string;
	logoAlt: string;
	date: [Date] | [Date, Date];
	tags: string[];
	assigning: string;
	logoPosition: 'left' | 'inline';
}

const { visualImageUrl, logoUrl, description, logoAlt, date, tags, assigning, logoPosition } = Astro.props;

const dateForMachine = date.map((date) => format(date, 'yyyy-MM-dd'));
---

<article class={root}>
	<div class={visualImageContainer}>
		{/* TODO: alt 確認する */}
		<Image class={visualImage} src={visualImageUrl} alt={''} width={227} height={320} />
		<Image class={visualImageBackground} src={visualImageUrl} alt={''} width={23} height={32} />
	</div>
	{
		logoPosition === 'left' && (
			<Image class={logoLeft} src={logoUrl} alt={logoAlt} widths={[160, 320, 640]} sizes="160px" inferSize />
		)
	}
	<div class={workInfo}>
		<div class={workInfoSection}>
			<h2 class={descriptionText}>{description}</h2>
			{
				logoPosition === 'inline' && (
					<Image class={logoInline} src={logoUrl} alt={logoAlt} inferSize layout="constrained" />
				)
			}
		</div>
		<div class={workInfoSection}>
			<nav class={tagsList}>
				{/* TODO: リンク先があってるかを確認する */}
				{
					tags.map((tag) => (
						<a class={tagsLink} href={`/works?tag=${tag}`}>
							#{tag}
						</a>
					))
				}
			</nav>
			<span class={dateText}>
				<time datetime={dateForMachine[0]}>{format(date[0], 'yyyy.MM.dd')}</time>
				{
					date.length == 2 && (
						<>
							{' - '}
							<time datetime={dateForMachine[1]}>
								{format(date[1], date[0].getFullYear() === date[1].getFullYear() ? 'MM.dd' : 'yyyy.MM.dd')}
							</time>
						</>
					)
				}
			</span>
			<p class={assigningText}>{assigning}</p>
		</div>
	</div>
</article>
